# Prerequisites
*.d

# Graphics
*.png
sprite_sheets

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE Files
*.cbp
*.layout
*.depend
game.layout
game.layout
game.cbp
